/*add google front*/
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

/*all class useing same dataset*/
:root{
    /*ประกาศค่าตัวแปร*/
    --accent : #615E5E; /*button color form figma*/
    --accentHover : #df1212; /*mouse hover -> light*/
    --dark60 : rgba(66, 64, 64, 0.6); /*0.6 = 60%*/
    --light : #FFFFFF ;
    --transition : all 0.3s ease 0s /*define delay time*/
}

/*all section*/
*{
    /*clear margin and padding*/
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

html, body{
    height: 100%;/*fix Height useing Scroll*/
    overflow: auto;
}

body{
    /*gradient shade of color*/
    /*background: linear-gradient(
        var(--dark60), var(--dark60)
    ),url(./images/Blackgroud.jpg);*/
    background-image: url(./images/Blackgroud.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; /*Fix scall screen*/
}

a, button, p{
    font-family: "Lato", sans-serif;
    color: var(--light);
}

a, button, .logo{
    cursor: pointer; /*link Element -> Hand Curser*/
}

main{
    height: 100;
    display: grid;
    grid-template-columns: minmax(60px, 1fr) repeat(6, minmax(50px, 190px))
    minmax(60px, 1fr);
    
}

header {
    grid-column: 1 / span 7; /*ให้ header อยู่ที่ colum 2 อันอื่นๆไปอยู่ท้ายสุด*/
    margin-left: 5%;
    }

    nav{
        display: flex;
        align-items: center;
        height: 150px;
    }
    /*class*/

    .links{
        margin-left: auto;
    }
    .links a, .links button{
        font-size: 1.5rem;
        font-weight: 400;
        transition: var(--transition); /*action*/
    }

    .links a{
        margin-right: 20px; /*เว้นระยะช่องไฟ*/
    }

    .links a:hover{
        color: var(--accentHover); /*เอาเม้าส์ชีแล้วเปลี่ยนสี*/
    }

    .button_med{
        border: none;
        background-color: var(--accent); /*สีฟื้นหลังกรอป login*/
        padding: 9px 25px; /*ปรับขนาดกรอบ login*/
        transition: var(--transition);/*ลูกเล่น ซูมเข้าออก*/
    }

    .button_med:hover{
        color: var(--accentHover);
    }

    .info{
        grid-column: 3 / span 4;/*ย้ายชิ้นเริ่มที่ 3 ที่เหลือไป 4 จากทั้งหมด 6*/
        margin-top: 23%;
        text-align: center;
    }

    .content_font1{
        font-family: "Lato", sans-serif;
        color: rgba(241, 234, 234, 0.562);
        font-size: 4.0rem;
    }

    .content_font2{
        font-family: "Lato", sans-serif;
        color: var(--light);
        font-size: 1.0;
        text-align: center;
    }

    .icons{
        margin-top: 10%;
        display: flex; /*จัดให้เป็นแนวนอน*/

    }

    .icon{
        margin-right: 40px; /*ระยะห่างช่องไฟ*/
        
    }

    .icon img{
        width: 100px;
        height: 100px;
    }

    .icon_info{
        text-align: center;
    }

    .features{
        grid-column: 2 / span 7;
        background-color:#7A4021 ;
        margin-top: 4%;
        /*top right botton left การเรียงตอนปรับขนาดในกรอบใหญ่*/
        padding: 15px 0px 0px 10px;
        display: flex;
        align-items: left;
    }

    .feature{
        display: flex;
        /*top right botton left*/
        margin: 0px 10px 30px 10px;
    }

    .feature img{
        width: 80px;
        height: 80px;
        margin-right: 20px;
    }

    .feature_info p{
        color: azure;
    }

.feature_top, .feature_More{
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.feature_botton{
    font-size: 14px;
    font-weight: normal;
    margin-top: 5px;
}

.feature:nth-child(3){
    align-self: flex-start;
}

.feature_more{
    cursor: pointer;
    transition: var(--transition);

}
.feature_more:hover{
    color: var(--accentHover);
}

/*Responsive Website*/
@media only screen and (max-width:1100px){
    .icon img{
        height: 100px;
        width: auto;
    }
    .content_font1{
        font-size: 2.75rem;
    }
    .content_font2{
        font-size: 1.25rem;
    }
    .feature{
        grid-column: 1 / span 7;
    }
}

@media only screen and (max-width:850px) {
    .info{
        grid-column: 2 /span 7;
    }
    .icons{
        flex-direction: column;
    }
    .content_font1{
        font-size: 1.75rem;
    }
    .content_font2{
        font-size: 0.75rem;
    }
    .features{
        flex-direction: column;
    }
    
}